<main class="layout-main">
    <h1>Search Results:</h1>
    <section class= "grid-container">
    {{#each articleList}}
        <div class="artist-card ">
            <div class="card-img-container">
                {{#if this.images.0.url}}
                    <img class="card-img" src="{{this.images.0.url}}" alt="Artist Image">                {{/if}}
                {{#unless this.images.0.url}}
                    <img class="card-img" src="/images/1548784.png" alt="No Image found">
                {{/unless}}
            </div>
            <div class="card-subline">
                <p class="artist-title">{{this.name}}</p>
                <a class="button-red" href="/albums/{{this.id}}">View Albums</a>
            </div>
        </div>
    {{/each}}
    </section>
</main>