<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Spotify-Trial</title>
</head>
<body>
    <nav>
        <a href="/"><img src="/images/1200px-VisualEditor_-_Icon_-_Search-big_-_white.svg.png" alt=""></a>
    </nav>
    {{{body}}}
</body>
</html>